body{
  height: 3500px;
  padding-top: 75px;
}
.no-scroll{
  overflow-x: hidden;
}
.box-shadow{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0,.05 ),
              0 4px 8px 0 rgba(0, 0, 0, .05 ); 
}
#bg-referencia{
  background-image: url(' ../img/bg-quote.jpg') ;
  background-size: cover;
  height: 500px;
}
.perg{
  text-decoration: none;
  font-weight: 350;

}
.perg:hover{
  text-decoration: underline;
  color: black;
}
.list-none a{
  text-decoration: none;
}

.lista-plano li + li{
  border-top: 1px solid rgba(110, 109, 109, 0.199);
}
.lista-plano li{
  padding: 1rem;
  
}
.active{
  font-weight: 500;
}

 


@media(max-width:767px){
  body{
    padding-top: 0px;
  }
  .fixed-top{
    position: relative;
  }
  #bg-referencia{
    height: 350px;
  }
  .footerredes{
    display: flex;
  }
  .mx-inst{
    padding: 2px;
  }
}